<phpunit bootstrap="vendor/autoload.php">
    <php>

        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="root" />
        <var name="DB_HOST" value="127.0.0.1" />
        <var name="DB_NAME" value="test" />
        <var name="DB_PORT" value="3306" />
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>